---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import Features from '../components/Features';
import Lifestyle from '../components/Lifestyle';
import HowItWorks from '../components/HowItWorks';
import About from '../components/About';
import FAQ from '../components/FAQ';
import CTA from '../components/CTA';
import Footer from '../components/Footer';
import TrustBar from '../components/TrustBar';
---

<Layout title="Velocity Auto Group | The Easiest Way to Buy, Sell, or Rent">
	<Navbar client:load />
	<main>
		<Hero client:visible />
		<Features client:visible />
		<Lifestyle client:visible />
		<HowItWorks client:visible />
		<About client:visible />
		<FAQ client:visible />
		<CTA client:visible />
	</main>
	<Footer client:visible />
</Layout>
